/*Projet Final Integration 1
/*Date dernière modification: 2020-03-29
/*Rafael Izaias De Mendonça
 */
body{
    width: auto;
    margin: 0 !important;

}

/*Resposive typographye*/
html {
    font-size: 15px;
}

@media only screen and (min-width: 411px) {
    html { font-size: 0.8rem;
    }
}
@media only screen and (min-width: 768px) {
    html { font-size: 1.0rem;
    }
}
@media only screen and (min-width: 960px) {
    html { font-size: 1.0rem;
    }
}
@media only screen and (min-width: 1140px) {
    html { font-size: 1.6rem;
    }
}



/*background metalisé*/
.metalback {
    background-image: url("image/metalise.jpg");
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Change background dans les petites écrans*/
@media only screen and (min-width: 311px) and (max-width: 600px){
    .metalback {
        background: #272232;
    }
}

p, h1, h3 {
    color: white;
}
hr{
    background: #353434;
    height: 1px;
    border-style: none;
    margin: 2% 0;
}


/* Video*/
header .bdrunner {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
} /*Fin video*/

.partie4 {
    margin: 0!important;
}
/*img partie4*/
.partie4 img{
    width: 100%;
    height: 100%;
}


/*Chagement de la Bannière Pixel 2 et Ipad page index.html */
.dystopicImg {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: none;
    background-image: url("image/LA2049_1.jpg");
    color: white;
}

@media only screen and (max-width: 411px){
    .dystopicImg {
        display: inline-block;
    }

    .bdrunner {
        display: none;
    }
}
@media only screen and (min-width: 412px) and (max-width: 768px){
    .dystopicImg {
        display: inline-block;
        background-image: url("image/losangeles_p4.jpg");
    }

    .bdrunner {
        display: none;
    }
}/*Fin @media pour blade runner*/

/*Chagement de la Bannière Pixel 2 et Ipad page BladeRunner.html */
.runnerImg {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: none;
    background-image: url("image/LA2049_1.jpg");
    color: white;
}

@media only screen and (max-width: 411px){
    .runnerImg {
        display: inline-block;
    }

    .carouselRunner{
        display: none;
    }
}
@media only screen and (min-width: 412px) and (max-width: 768px){
    .runnerImg {
        display: inline-block;
        background-image: url("image/losangeles_p4.jpg");
    }

    .carouselRunner{
        display: none;
    }
}/*Fin @media pour blade runner*/



/*Carousel BladeRunner.tml et gotham-city.html*/
.carouselSize img {
    max-width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: bottom;
}

/*Paralax Index.html*/
.parallax {
    /* L’image du Parallax */
    background-image: url("image/gotham_parallax.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Paralax BladeRunner.html*/
.paraLAX {
    /* L’image du Parallax Los Angeles*/
    background-image: url("image/LAblade_runner_still.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Paralax gotham-city.html*/
.paraGOT{
    /* L’image du Parallax Los Angeles*/
    background-image: url("image/gothamBatman.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Box dans les parallax de chaque page*/
.jaunebox {
    background-color: rgba(52,58,64,.75);
    padding: auto;
}

/*Footer*/
.footer{

    color:  white;

.copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

