html, body {
    margin:0;
    height:100%;
}

h1 {
    color: #FEDF1A;
}

.centralCity{
    background-image: url("../img/centralCity.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textFlash{
    color: #FEDF1A;
}

.h-10{
    height: 10%;
}

#flashID{
    position: relative;
    left:100px;
}