/*style.css*!
Programmé par Rafael De Mendonça
Le 21 novembre 2019
 */

body{
    width: 100%;
    margin: auto;
    align-content: center;
    text-align: justify-all;

}

#presentation {
    margin: 0;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    background-color: #FF9933;
    margin-bottom: 1px;
}

#menu{
    text-align: center;
}

#menu ul{
    padding:25px;
    margin:0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color:#FF9933;
    list-style:none;
}

#menu ul li {
    display: inline;
}

#menu ul li a{
    padding: 10px 10px;
    display: inline-block;

    /*Decor du link*/
    background-color: #FF9933 ;

    color: #B0E0E6 ;
    text-decoration: none;

}

#menu ul li a :hover {
    color: darkorange;
}

#menu ul li a:visited{
    color: #800080;
}

#contenu{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 25px;

    text-align: justify;
    background-color: #FF9933;
    margin-bottom: 1px;
}

#contenu li:hover{
    color: #B0E0E6;
}


#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 5px;
}

#image:hover{
    box-shadow: 5px 5px 2px black;
}
git 
#tablestyle table, tr, td {
    border: 1px solid black;
    text-align: center;
    align-items: center;

}

