/**
Rafael De Mendonça 2019-11-19
Actualisaton du projet ExerciceLiens

 */



body{
    font-family: Calibri;
    align-content: center;
    text-align: justify-all;


}

#presentation {
    margin: 0;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    background-color: #FF9933;
    margin-bottom: 1px;
}

#menu{
    text-align: center;
}

#menu ul{
    padding:25px;
    margin:0px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color:#FF9933;
    list-style:none;
}

#menu ul li {
   display: inline;
}

#menu ul li a{
    padding: 10px 10px;
    display: inline-block;

    /*Decor du link*/
    background-color: #FF9933 ;
    color: black;
    text-decoration: none;
}

#menu ul li a :hover {
    color: darkorange;
}

#contenu{

    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 25px;


    text-align: justify;
    background-color: #FF9933;
    margin-bottom: 1px;


}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}


#tablestyle table, tr, td {
    border: 1px solid black;
    text-align: center;
    align-items: center;

}