/*Parallax, Integration 1
/*Date dernière modification: 2020-03-08
/*Rafael Izaias De Mendonça
 */
html, body {
    margin: 0;
    height: 100%;
    background-color: #8C9ABD;
}


.parallax {
    /* L’image du Parallax */

    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    background-image: url("image/rio.jpg");
    height: 100vh;
}

.bgOpaque1 {
    padding: 40px 15px 20px;
    background-color: rgba(255,255,0,.75);
 }

.bgOpaque2 {
    padding: 40px 15px 20px;
    background-color: rgba(140,154,189,.75);

}

.mata {
    padding: 50px 50px 50px;
}

.bg3 {
    background-image: url("image/shanghai.jpg");
    height: 100vh;
}

.jaunebox {
    background-color: rgba(255,255,0,.75);
    padding: auto;
}

.bg4 {
    background-image: url("image/paris.jpg");
    height: 100vh;
}
.paristext {
    color: white;
    padding: 50px 50px 50px;
}


.orange {
    background-color: #FCA364;
}
.grisbrown {
    background-color: #685756;
}
.bleugris {
    background-color: #8C9ABD;
}


@media only screen and (max-width: 481px){
    .bg1 {
        background-image: url("image/mataatlantica.jpg");
        height: 100vh;
    }
}

