
html, body {
    margin: 0;
    height: 100%;
}


.parallax {
    /* L’image du Parallax */

    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    background-image: url("image/shanghai.jpg");
}

.bg2 {
    background-image: url("image/rio.jpg");
}